.sunsetWrapper {
  overflow: visible;
  margin-top: 0;
  padding-top: 8rem;
  background-color: var(--my-bg-light);

  .eclipsingBlockContainer {
    display: flex;
    overflow: auto;
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 64px;
    padding-bottom: 73px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;

    .textBlock39 {
      width: 600px;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }

    .textBlock40 {
      margin-top: -16px;
      font-weight: 700;
      background-color: #fff;
      background-image: linear-gradient(90deg, #f926e1, #2ab5fb);
      color: #fff;
      font-size: 16px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .hdClients {
    position: relative;
    z-index: 0;
    overflow: visible;
    background-color: var(--my-bg-light);

    .divBlock70 {
      position: relative;
      z-index: 1;
      overflow: hidden;
      width: 100%;
      height: 280px;
      margin: -2% 0 2px;
      clear: none;
      border-radius: 100%;
      background-color: var(--my-bg-light);
    }
  }

  .sunset {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: visible;
    width: 100%;
  }

  .sunsetEclipse {
    position: absolute;
    left: 27%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 43.75%;
    height: 100px;
    background-image: linear-gradient(90.27deg, #f926e1 .22%, #2ab5fb 99.76%);
    opacity: .48;
    filter: blur(100px);
    color: transparent;
  }
}

.baner_section {
  display: flex;
  flex-direction: column;
  background-color: var(--my-bg-light);

  .title {
    display: flex;
    margin-top: 180px;
    margin-bottom: 0;
    justify-content: center;
    align-items: stretch;
    color: --my-text-color;
    font-size: 4rem;
    text-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2)
  }

  .meta {
    width: 600px;
    margin: 0 auto;
    padding-top: 24px;
    background-color: transparent;
    opacity: .7;
    // color: hsla(0, 0%, 100%, .7);
    color: --my-text-color;
    font-size: 16px;
    line-height: 22px;
    text-align: center;


  }

  .image40 {
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
  }

  .start {
    margin: 0 auto;
    margin-top: 40px;


    .wBtn {
      background-color: #3898ec;
      color: #fff;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      width: auto;
      margin-right: auto;
      margin-left: auto;
      padding: 1rem 1.5rem;
      justify-content: space-between;
      align-items: center;
      grid-auto-columns: 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      border-radius: 100px;
      background-image: linear-gradient(90.27deg, #f926e1 .22%, #2ab5fb 99.76%);
      font-family: Airbnbcereal, sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      white-space: normal;
      background-clip: border-box;
      -webkit-text-fill-color: inherit;
      -o-object-fit: fill;
      object-fit: fill;

      &:hover {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(90.27deg, #f926e1 .22%, #2ab5fb 99.76%);
      }
    }

  }
}