.cardContent {
  display: flex;
  width: 100%;
  margin-top: 72px;
  margin-bottom: 120px;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  .cardItem {
    padding: 2px;
    background-image: linear-gradient(90.27deg, rgba(249, 38, 225, .12) .22%, rgba(42, 181, 251, .12) 99.76%);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 64px 0 rgba(0, 0, 0, .02);

    .cardBox {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 2.5rem;
      flex-direction: column;
      align-items: flex-start;
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      border-radius: 10px;
      // background-color: #fff;
      background-color: var(--ifm-background-color);

      .icon_8 {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        border-radius: 8px;
        background-color: #fae8fb;

        .logo24 {
          display: flex;
          width: 24px;
          height: 19.200000762939453px;
          justify-content: center;
          align-items: center;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          -o-object-fit: cover;
          object-fit: cover;
          max-width: 100%;
          border: 0;
          vertical-align: middle
        }
      }

      .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        grid-column-gap: 12px;
        grid-row-gap: 12px;

        .blockTitle,
        .blockBody {
          color: var(--my-text-color);
          line-height: 150%;
          letter-spacing: 0;
        }

        .blockTitle {
          font-weight: 600;
          font-size: 22px;
        }

        .blockBody {
          font-size: 16px;
        }
      }


    }
  }


}